*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    background-color: #192B32;
    color:#fff;
    font-size: 16px;
}
p {
    line-height: 1.35;
}
.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1120px;
    z-index: 5000;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.link {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 16px;
    transition: all 0.2s linear;
}
.link:hover {
    color:darkred;
    font-size: 20px;
}














