*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    color: #fff;
    margin: 0;
    padding: 0;
}
.main_title {
    font-size: 40px;
    margin: 10px;
}

body {
    background-color: #5EED06;
    color:#000;
    font-size: 18px;
}
p {
    line-height: 1.35;
}
.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1120px;
    z-index: 5000;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.link {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 16px;
    transition: all 0.2s linear;
    margin-bottom: 10px;
}
.text_links {
    display: flex;
    width: 100%;
    width: 300px;
    margin-bottom: 0;
    align-items: start;
    justify-content: space-between;
}
.link:hover {
    color:darkred;
    font-size: 20px;
    margin:0;
}














